button{
	height: 40px;
	width: 80px;
	border-radius: 50px;
	border: none;
	ouline: none;
	background: blue;
	color: black;
	font-size: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;

}



