body{
	background: url('background.jpg');
}
header>a{
	margin: 20px 10px;
	background-color: transparent;
	color: white;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 600;
	text-decoration: none;	
}
header>a:hover{
	text-decoration: underline;
	font-size: italic;
}
button{
	width: 20%;
	height: 45px;
	margin: 0px 5px;
	color: rgba(0,0,0,0.6);
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 40px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	transition: 0.5s; 
}
button:hover{
	background: rgba(0,0,0,0.5);
	color: white;
}
button>a{
	width: 20%;
	height: 45px;
	margin: 0px 5px;
	color: rgba(0,0,0,0.6);
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 40px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	transition: 0.5s; 
}
button>a:hover{
	background: rgba(0,0,0,0.5);
	color: white;
}